.Container {
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 12px;
  padding: 40px 30px;
  max-width: 800px;
  margin: 120px auto;
  text-align: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.Container h2 {
  font-size: 26px;
  color: #0057b7;
  margin-bottom: 15px;
}

.Container p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
}
