.Footer {
  background-color: #00418a;
  color: #f1f1f1;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
}

.Footer nav a {
  color: #f1f1f1;
  margin: 0 10px;
  text-decoration: none;
}

.Footer nav a:hover {
  color: #ffb347;
}
